@font-face {
    font-family: "Raleway";
    src: url("font/Raleway-VariableFont_wght.ttf");
}

/* no margin-padding beetween element and size */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* font-size for the entire html, to use the rem value thereafter */
html {
    font-size: 20px;
}
/* set of rules for the div that encompass all the differents sections / div / etc... */
#container {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    font-family: "Raleway", sans-serif;
}
/* margin-left for all the element for the initial screen resolution (1440px) */
header, .first_section, .activity, footer {
    margin-left: 2.5rem;
}
/* reset style for button, form and input, and no text-decoration for all the links in the html */
a, a:visited {
    text-decoration: none;
}

button, form, input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

/* stars icon */
#up {
    color: #0065FC;
}

#down {
    color: #D9D9D9;
}

/* header : logo + nav */
header {
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

.logo {
    padding: 2.5rem 0 2rem 0;
}

nav, nav li a {
    margin-right: 1rem;
}

nav li a {
    padding: 52px 15px 0 15px;
    display: block;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li a {
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
}

li a:hover{
    color: #0065FC;
    border-top:#0065FC solid 2px;
    padding-top: 50px;
}

.sign_in{
    font-weight: bold;
    color: #0065FC;
}
/* end of header properties */
/* body */
/* title + paragraph */
h1 {
    font-size: 1.12rem;
    padding-bottom: 0.8rem;
}

h3 {
    font-size: 0.9rem;
}

/* first section */

.first_section {
    padding-left: 3px;
}

.first_section p {
    font-size: 0.815rem;
    padding-bottom: 1rem;
}

/* search button */
.position {
    display: flex;
}

.icon {
    position: relative;
    width: 50px;
    height: 50px;
}

.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position .icon {
    background-color: #F2F2F2; 
    border-radius: 17px 0 0 17px;
}

input, button {
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}

input {
    box-sizing: border-box;
    width: 240px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-left: 15px;
    padding-right: 10px;
}

button {
    position: absolute;
    width: 140px;
    background-color: #0065FC;
    color: #fff;
    border-radius: 0 17px 17px 0;
    text-align: center;
    transition: .3s;
}

button:hover {
    cursor: pointer;
    background-color: #0056d7;
}

button:active {
    font-size: 22px;
}

/* end of button */
/* filtre section */

.filtre_container {
    height: 50px;
    margin: 1.5rem 0 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtre_container h3, .filtre h3 {
    padding: 0 28px 0 12px;
}

.filtre {
    max-height: 50px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-left: none;
    border-radius: 100px;
    margin-right: 25px;
    transition: 0.3s;
}

.filtre .icon {
    left: -1px;
    background: #DEEBFF;
    border-radius: 50%;
    color: #0065FC;
    z-index: 2;
}

/* style one */

.filtre:hover {
    cursor: pointer;
    background-color: #DEEBFF;
    border-color: #0065FC;
}

.filtre:hover .icon {
    transition: .3s;
    background-color: #0065FC;
    color: #fff;
}


/* style two */
/*
.filtre:hover {
    box-shadow: #D9D9D9 5px 5px 3px;
    cursor: pointer;
}
*/

/* end of filtre section */

/* information */
.info {
    display: flex;
    align-items: center;
    padding: 0 0 0 5px;
}

.info p {
    padding: 0 0 0 10px;
}

.info .icon {
    height: 24px;
    width: 24px;
    font-size: 12px;
    color: #0065FC;
    border: 1px solid #DEEBFF;
    border-radius: 50%;
}

/* end of first section */
/* second section : img_container */

.second_section {
    display: flex;
    margin-top: 35px;
}

.img_container_location, aside {
    background-color: #F2F2F2;
    border-radius: 25px;
}

.img_container_location {
    width: 880px;
    min-width: 65%;
    margin-right: 2rem;
}

.img_container_location h1 {
    padding: 47px 0 25px 40px;
}

.img_flex_location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    transition: .3s;
}

.box:hover {
    transform: scale(105%);
}

.img_box {
    width: 250px;
    height: 120px;
    border: 5px solid #fff;
    border-bottom: none;
    border-radius: 25px 25px 0 0;
}

.img_box a {
    display: block;
}

/* Photos of the hotels*/
.n_one {
    background: url('img/first_section/a_cannebiere.jpg') center/100% no-repeat;
}

.n_two {
    background: url('img/first_section/h_port.jpg') center/100% no-repeat;
}

.n_three {
    background: url('img/first_section/h_mouettes.jpg') center/100% no-repeat;
}

.n_four {
    background: url('img/first_section/h_mer.jpg') center/100% no-repeat;
}

.n_five {
    background: url('img/first_section/a_panier.jpg') center/100% no-repeat;
}

.n_six {
    background: url('img/first_section/h_amina.jpg') center/100% no-repeat;
}
/* end */

.desc_box {
    background: #fff;
    border-radius: 0 0 25px 25px;
    padding: 0.6rem;
}

.img_box, .desc_box {
    box-shadow: 5px 5px 5px rgb(217 217 217 / 0.8);
}

.desc_box h3, .desc_box p{
    padding-bottom: 5px;
}

.desc_box h3 {
    font-size: 0.8rem;
}

.desc_box p {
    font-size: 0.7rem;
}

.desc_box em {
    font-weight: bold;
}

.star {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.desc_box i {
    font-size: 0.6rem;
}

.more {
    padding: 10px 0 50px 40px;
}

/* most popular aside */
aside {
    width: 420px;
    min-width: 25%;
}

.img_container_mp {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 47px 0 25px 0;
}

.img_container_mp i {
    font-size: 1.2rem;
    justify-content: baseline;
    padding-top: 2px;
}
